
#Footer {
    width: auto;
    height: 7em;
    margin-left: 1.2em;
    margin-top: 2em;
    font-size: 2em;
    color: #653C3D;
    /* background-color: cornsilk; */
    font-weight: bold;
    
}

#Contacts{
    width: 12em;
    height: 5em;
    /* background-color:rgb(163, 163, 211); */
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 0.5em;
}

#Contacts_direita{
    width: 50%;
    height: 100%;
    float: right;
    padding-top: 10%;
    padding-left: 3.5%;
    /* background-color:rgb(144, 224, 177); */
    
}

#Contacts_esquerda{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 10%;
    border-right-style: solid;
    border-width: 0.01em;
    /* background-color:rgb(224, 189, 144); */
    
}

#Buttons_Footer{
    width: 4em;
    height: 3em;
    float: right;
    padding-top: 1em;
    margin-right: 0.5em;

}

#Buttons_Footer button{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-left: 1em;
    border: none;
    background: none;

    
}

#Buttons_Footer img{
    width: 5.7em;
}
